


.status-pending {
  color: #856404;
  background-color: #fff3cd; 
  font-weight: bold;
  border-radius: 4px;
}

.status-canceled {
  color: #721c24;
  background-color: #f8d7da; 
  font-weight: bold;
  border-radius: 4px;
}
.status-APPROVED {
  color: white;
  background-color: #008080ba; 
  font-weight: bold;
  border-radius: 4px;
}
